@use "sass:map";

:root {
  --ff-primary: sans-serif;

  --clr-primary-400: #e8cf7d;
  --clr-seperator: #e6ecf8;
  --clr-black: #141c3a;

  --fs-xl: 2rem;
  --fs-600: 1.75rem;
  --fs-500: 1.375rem;
  --fs-400: 1.25rem;
  --fs-200: 1.125rem;
  --fs-100: 1rem;
}

$breakpoints: (
  small: 48em,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

@include mq(small) {
  :root {
    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.375rem;
    --fs-200: 1.25rem;
  }
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.6;
  font-size: var(--fs-400);
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#container {
  width: 100%;
  margin: 0 auto;

  @include mq(small) {
    padding: 0 1.5rem;
  }
}

.resume {
  margin-top: 0;
  padding: 0;

  img {
    width: 100%;
    max-width: 50rem;
    object-fit: contain;
  }

  .button {
    border: 1px solid var(--clr-primary-400);
    background-color: var(--clr-primary-400);
    margin: 0;
    padding: 0.5rem 2rem;
    display: inline-flex;
    text-decoration: none;
    color: black;
  }
}

section {
  margin-top: 5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  * {
    margin-top: 1rem;
  }

  @include mq(small) {
    padding: 2rem;
  }
}

footer {
  text-align: center;
  padding: 4rem 1rem;
  margin-top: 5rem;

  * {
    margin-top: 1rem;
  }
}

.navBar {
  padding: 2.25rem 1rem;
  display: block;

  @include mq(small) {
    display: flex;
    padding: 2.25rem 3rem;
  }

  .nav-logo {
    display: flex;
  }
}

.menu {
  color: var(--clr-black);
  cursor: pointer;
  position: relative;
  margin-left: auto;
  padding: 1rem 1rem;

  @include mq(small) {
    display: none;
  }

  span {
    background-color: currentColor;
    display: block;
    left: calc(50% - 0.5rem);
    position: absolute;
    width: 1.5rem;
    height: 0.125rem;

    &:nth-child(1) {
      top: calc(50% - 1rem);
    }
    &:nth-child(2) {
      top: calc(50% - 0.5rem);
    }
    &:nth-child(3) {
      top: calc(50%);
    }
  }
}

#nav-menu {
  margin-left: auto;
  display: none;
  text-align: center;

  @include mq(small) {
    display: block;
  }

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--clr-black);
  }
}

.icon {
  //width: 3.125rem;
  height: 3rem;
}

.intro {
  margin-top: 2rem;

  .position {
    font-size: var(--fs-xl);
  }

  .yongkuanIcon {
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../images/yongkuan.jpg");
    background-size: 11.5rem 11.5rem;
    width: 11.5rem;
    height: 11.5rem;
    margin-top: 3rem;
  }
}

.about {
  padding-bottom: 12rem;
  background: var(--clr-primary-400);
  color: black;

  p {
    max-width: 50ch;
  }
}

.skillset {
  margin-top: -9rem;
  font-size: var(--fs-200);

  .skillset-container {
    border-radius: 1rem;
    border: 1px solid var(--clr-black);
    background: white;
    padding: 2rem;
    max-width: 46.5rem;
    width: 100%;

    .skillset-content {
      padding-bottom: 1rem;

      .title {
        color: var(--clr-primary-400);
        font-weight: bold;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
      }

      .framework {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        @include mq(small) {
          flex-direction: row;
        }

        div {
          flex: 1 1 0;

          @include mq(small) {
            border-right: 1px solid var(--clr-seperator);
          }

          &:last-child {
            border-right: 0;
          }
        }

        .framework-content {
          @include mq(small) {
            padding: 1rem;
          }

          .framework-logo {
            width: 80%;
            height: 5.25rem;
            object-fit: contain;
            margin: 0;

            @include mq(small) {
              width: 100%;
            }
          }

          .framework-name {
            a {
              padding: 0;
              display: block;
              color: var(--clr-black);
            }
          }
        }
      }
    }
  }
}
.portfolio {
  width: 100%;
  max-width: 75rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(20rem, 1fr));
  grid-gap: 1rem;
  margin-top: 4rem;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }

  * {
    margin-top: 0;
  }

  .portfolio-item {
    position: relative;
    min-height: 19rem;

    &:hover .portfolio-overlay {
      opacity: 0.85;
    }

    &:hover img {
      filter: blur(2px);
    }
  }

  .portfolio-overlay {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    border-radius: 1rem;
    transition: 0.5s ease;
    background-color: var(--clr-black);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: white;

    ul > li {
      font-size: var(--fs-200);
      display: inline-block;
      background-color: var(--clr-primary-400);
      border-width: 1px solid var(--clr-black);
      border-radius: 0.25rem;
      box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
      margin: 0.25rem;
      padding: 0.25rem 0.5rem;
      color: black;
    }

    a {
      font-size: var(--fs-200);
      border: 0.125rem solid var(--clr-primary-400);
      border-radius: 5rem;
      text-decoration: none;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      margin: 0rem 0.5rem;
      color: white;

      &:hover {
        background: var(--clr-primary-400);
        color: black;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    transition: 0.25s ease-in-out;
    transform: scale(1);
  }
}

.experience {
  border-top: 1px solid var(--clr-seperator);

  p {
    font-weight: bold;
  }

  .companies {
    width: 100%;
    max-width: 56.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    grid-gap: 0rem 1rem;
    padding: 1rem;

    @include mq(small) {
      grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
      grid-gap: 2rem;
      padding: 0;
    }

    .company-item {
      position: relative;
      padding: 0.5rem 0.5rem;
      margin-top: 0;

      img {
        width: 100%;
        object-fit: contain;
      }

      @include mq(small) {
        padding: 1rem 1rem;
      }
    }

    img {
      width: 100%;
    }
  }
}

footer {
  background: var(--clr-primary-400);
  color: black;
  font-size: var(--fs-100);

  .social-media {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
  }

  svg {
    fill: black;
  }

  a {
    color: black;
    font-weight: bold;
  }
}

.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 1.5rem 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 3rem;
  height: 3rem;
  background-color: grey;

  &.show {
    visibility: visible;
    opacity: 0.8;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    fill: #000;
    width: 1.5rem;
    height: 0.75rem;
  }

  &:hover {
    background-color: var(--clr-black);

    svg {
      fill: white;
    }
  }
}
